
.flex-box-direction {
  display: flex;

  /* Specifies the direction of the flexible items inside a flex container */
  flex-direction: column; /*  Display content vertically */
  flex-direction: column-reverse; /*  Display content vertically reverse */
  flex-direction: row; /*  Display content horizontal*/
  flex-direction: row-reverse; /*  Display content horizontal reverse */

  /* Specifies whether the flex items should wrap or not,
  if there is not enough room for them on one flex line */
  flex-wrap: nowrap;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  flex-wrap: initial;
  flex-wrap: inherit;

  /* Vertically aligns the flex items when the items
  do not use all available space on the cross-axis */
  align-items: stretch;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  align-items: baseline;
  align-items: initial;
  align-items: inherit;

  /* Modifies the behavior of the flex-wrap property.
  It is similar to align-items, but instead of aligning flex items,
  it aligns flex lines */
  align-content: stretch;
  align-content: flex-start;
  align-content: flex-end;
  align-content: center;
  align-content: space-between;
  align-content: space-around;
  align-content: initial;
  align-content: inherit;

  /* Used on flex items. Overrides the container's align-items property 
  specific item alone can be modified and override */
  align-self: auto;
  align-self: stretch;
  align-self: center;
  align-self: flex-start;
  align-self: flex-end;
  align-self: baseline;
  align-self: initial;
  align-self: inherit;

  /* Horizontally aligns the flex items when the items
  do not use all available space on the main-axis */
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-between; /*  Items are positioned with space between the lines */
  justify-content: space-around; /*  Items are positioned with space before, between, and after the lines  */
  justify-content: initial;
  justify-content: inherit;

  /* A shorthand property for flex-direction and flex-wrap
  flex-flow: flex-direction flex-wrap;
  */
  flex-flow: row-reverse wrap;
}

#main {
  width: 350px;
  height: 100px;
  display: flex;
}

#main div:nth-of-type(2) {
  flex-grow: 3;
}

#main div:nth-of-type(1) {
  flex-grow: 3; /* item will grow 3times relative to the rest of the flexible items */
}

#main div:nth-of-type(1) {
  flex-shrink: 3; /* item will shrink 3times relative to the rest of the flexible items */
}
